.main {
    width: 100%;
}

form {
    width: 25%;
    margin: 3% auto;
    padding: 5% 5% 3% 5%;
    background-color: #73C2FB;
    border-radius: 10px;
}

.li-pair {
    width: 100%;
    margin-bottom: 5%;
    text-align: left;
}

.li-pair label {
    display: block;
    font-size: 14px;
    color: white;
    margin-bottom: 1%;
}

.li-pair input {
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.fullname, .email, .phone {
    width: 95%;
    padding: 3% 2%;
}

.li-pair div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.pass, .confirmPass {
    width: 100%;
    padding: 3% 15% 3% 2%;
}

.eye {
    position: absolute;
    width: 13%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.warning {
    font-size: 14px;
    color: red;
}

.sbutton {
    width: 100%;
}

.sbutton button {
    font-size: 15px;
    width: 100%;
    padding: 5% 0;
    margin-top: 5%;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background-color: white;
}

.success {
    color: green;
}

@media screen and (max-width:900px) {
    form {
        width: 35%;
    }
}